<head>
	<style>
		img.gif {border: 10px solid yellow;}
		body {background: green}
	</style>
</head>	

<body>
<h1 style="text-align:center;">Sitemaps n' Such</h1>
<p style="text-align:center;font-family:georgia;"><i> Because we all need a little help getting around sometimes </i></p>
<div style="text-align:center;">
<a href="/welcome/about_me"> About Me </a>
</br>
<a href="/welcome/index" style="text-align:center;font-family:arial;color:red;"> Temporary Home Page</a>
</br>
<a href="/welcome/hall_o_fame" style="text-align:center;font-family:arial;color:red;"> Hall o' Fame</a>
</br>
</br>
<img style="text-align:center;" class="gif" src="http://37.media.tumblr.com/81d41bdd2f2419c96b3154410ccb439e/tumblr_n99a0tJQxd1qdlh1io1_400.gif" />
</div>

</body>