<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<h2>Get to the Choppa!!</h2>
<p style="font-family: georgia; color: red"> This is my text! </p>
<img src="http://imgs.xkcd.com/comics/alternative_energy_revolution.jpg">