<h1>Your Mom</h1>
<p>Can find me in app/views/welcome/index.html.erb</p>
<h2>Get to the Choppa!!</h2>

<a href="www.mailchimp.com"> WEBSITE </a>
<br>
<br>
<a href="mailto:thomasmdavis@gmail.com"> Email me, bitches. </a>
<p style="font-family: georgia; color: red"> This is my text! </p>
<img src="http://imgs.xkcd.com/comics/alternative_energy_revolution.jpg">