<h1><b>Tom Davis</b></h1>
<p>Can find me in app/views/welcome/index.html.erb</p>
<h2>I like to type short paragraphs about myself so allow myself to introduce... myself.</h2>

<p><i>"I'm expressin' with my full capabilities,
	<br/>
And now I'm livin' in correctional facilities."
<br/>
~Dr. Dre
</i><p>

<a href="www.mailchimp.com"> WEBSITE </a>
<br>
<br>
<a href="mailto:thomasmdavis@gmail.com"> Email me, bitches. </a>
<p style="font-family: georgia; color: green"> This XKCD cartoon is HILARIOUS </p>
<img style="border: 10px solid green" src="http://imgs.xkcd.com/comics/alternative_energy_revolution.jpg">