<head>
	<style>
	img .gif {border: 10px, color: green;}
	</style>
</head>

<h1> Sitemap n' Such </h1>

<img class="gif" src="http://37.media.tumblr.com/81d41bdd2f2419c96b3154410ccb439e/tumblr_n99a0tJQxd1qdlh1io1_400.gif" />